.test-content {
    margin-bottom: 80px;
}
.test-content {
    color: #fff;
}
.client-img img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid#ddd;
    text-align: center;
}
.client-text {
    margin-top: 20px;
}
.test-content p.lead {
    margin: 30px 0px;
    color: #fff;
    opacity: .8;
}
.lead {
    font-size: 1.0625rem;
    font-weight: 300;
}

.client-text h6 {
    color: #888;
    margin-bottom: 0px;
}